@import 'reset';

// $spalvyte-patinka: white;
// $spalvyte-kitokia: red;
$allegrya: 'Alegreya SC', serif;
$trochi: 'Trocchi', serif;

section.first{
	height: 100vh;
	background-image:url('../img/dazu-fonas.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	.wrapper{
		max-width: 1200px;
		display: block;
		margin:0 auto;
		position:relative;
		header{
			background-image:url('../img/fonas-baltas.png');
			background-repeat:no-repeat;
			background-size: 90% 100%;
			@media (max-width:1090px){
				background-size: 100% 100%;
			}
			nav{
				img{
					padding: 20px 10px;
					margin-left: 50px;
					margin-top: 10px;
					margin-right:35px;
				 	display: inline-block;
				 	vertical-align: middle;
				}
				ul{
					display: inline-block;
					li{
						display: inline-block;
						vertical-align: middle;
						a{
							font-family: $trochi;
							text-decoration: none;
							color:black;
							font-size: 16px;
							margin:0 35px;
						}
						a:last-child{
							margin-right:0;
						}
						a:hover{
							color:orange;
						}
					}
				}
			}
		}
		div{
			position:relative;
			top:0;
			right:5%;
			div{
				position:absolute;
				img{
					display: inline-block;
					vertical-align: middle;
				}
				a{
					font-family: $trochi;
					display: inline-block;
					vertical-align: middle;
					text-decoration: none;
					font-size: 24px;
					color:white;
				}
			}
			
		}
		h1{
			font-family: $allegrya;
			font-size: 60px;
			color:white;
			text-align: center;
			margin-top:20%;
			padding-bottom:20px;
		}
		h2{
			font-family: $trochi;
			font-size: 30px;
			color:white;
			text-align: center;
		}
		img[src="img/arrow.png"]{
			position:absolute;
			bottom:-65%;
			left:50%;
			transform: translate(-50%,-50%);
		}
	}
}
section.second{
	background-image:url('../img/dazai-spray.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	.wrapper{
		h2{
			padding-top:75px;
			padding-bottom:75px;
			text-align: center;
			color:white;
			font-family: $allegrya;
			font-size: 50px;
			img{
				padding-right: 30px;
			}
		}
		.container{
			.row{
				padding-bottom:50px;
				.col-md-4{
					h3{
						font-family: $allegrya;
						text-transform: uppercase;
						color: #6ca7f2;
						text-align: center;
						font-size: 48px;
						padding-bottom:25px;
					}
					p{
						font-family: $trochi;
						color:white;
						text-align: center;
						font-size: 28px;
						line-height: 1.5;
					}
				}
			}
		}
	}
}
// @media (max-width: 1090px){
// 	section.first{
// 	.wrapper{
// 		header{
// 			background-size: 100% 100%;
// 			nav{
// 				img{
					
// 				}
// 				ul{
// 					display: inline-block;
// 					li{
// 						display: inline-block;
// 						vertical-align: middle;
// 						a{
// 			}

// 		}
// 	}
// }
// 
@media (max-width: 1045px){
	section.first .wrapper header nav ul li a{
		margin:0 17.5px;
	}	
}
@media(max-width: 970px){
	section.first .wrapper header{
		background-image:none;
		background-color: white;
		nav img{
		padding-top:0;
		display: block;
		margin:0 auto;
		}
		nav ul{
			text-align: center;
			display: inherit;
			padding-bottom:5px;
		}
		nav ul li a{
			text-align:center;
		}
	}

}


