/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mano kodas prasideda cia*/


#abrakadabra{
	color:yellow;
	padding: 0;
	margin:0;
}

h1{
	color: red;
	font-size: 48px;
}
/*h1 - 1;
.h1 - 10;
#h1 - 100;
:nth-child- 10;*/
h1{
	color:blue;
}

h2 {
	color:orange;
	padding: 10px 20px 30px 10px;
	margin:0;
	border:5px solid black;
	border-bottom: 10px solid pink;
	margin-bottom: 10px;
}
.pvzvw{
	height: 100px;
	background-color: violet;
}
div > p {
	font-weight: bold;
	color:gold;
}
img[src="pav.jpg"]{
	/*rekomendacija*/
}
div > p:hover{
	color:red;
}

/* Uzduotis klaseje*/

h3{
	color:orange;
	font-size: 28px;
}
p{
	font-style: italic;
}
p>span{
	color:blue;
}

ol li:nth-child(even){
	background-color: black;
}
ol li>span {
	color:white;
}

.box-sizing{
	width: 100%;
	font-style: 16px;
	padding: 0 10px;
	box-sizing: border-box;
}

section {
	width: 100%;
	background-color: grey;
}
/* display: block ; display:inline-block ; display: inline*/
section > div {
	display: inline-block;
}

.pozicionavimas{
	height: 400px;
	background-color: pink;
}
.relative{
	height: 200px;
	background-color: green;
	position:relative;
	width: 100%;
}
.absolute{
	background-color: blue;
	color:white;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}





















