/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Cia baigiasi reset, ir po to rasau koda css*/

@font-face
{
    font-family: 'Allura';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Allura-Regular.otf');
}
body{
	font-size: 0;
	max-width: 1400px;
}
h1{
	font-family: 'Roboto', sans-serif;
	color:red;
	font-weight: 400;
}
h2{
	color:black;
	font-family: 'Anton', sans-serif;
}
h3{
	font-size: 24px;
	font-family: 'Allura', sans-serif;
}
.inkariukas{
	font-size: 90px;
}
div{
	background-color: grey;
	margin:0 auto;
	font-size: 16px;
	/*width: 500px;*/
}
.kaire{
	width: 50%;
	display: inline-block;
	background-color: blue;
}
.desine{
	width: 50%;
	display: inline-block;
	background-color: violet;
}
.kairefloat{
	width: 25%;
	float:left;
	font-size: 16px;
	background-color: green;
}
.desinefloat{
	width: 25%;
	/*float: right;*/
	font-size: 16px;
	display: inline-block;
	background-color: red;
}
.pvz{
	margin:0;
	width: 300px;
	height: 50px;
	background-color: pink;
	display: inline-block;
}
.floato-pvz{
	float: left;
	background-color: blue;
}
.clearfix{
	clear: both;
}
