h1{
	margin-left: 10px;
}
p{
	margin-left: 10px;
}
ul{
	list-style-type: none;
	margin-bottom: 30px;
}
li>span{
	background-color: green;
	color:white;
	border-radius: 50%;
	border:1px solid black;
	margin-right: 10px;
}

table {
	margin-left: 10px;
   border-collapse: collapse;
   margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-of-type(odd){
	background-color: #7894e2;
}
tr:nth-of-type(even){
	background-color: #9d90f4;
}
table tr:first-child{
	background-color: #189de0;
	color:white;
	border-bottom: 4px solid #206aea;
}
table tr:first-child th:first-child, table tr:first-child th:last-child {
	border-radius: 15px;
}
tr td{
	padding: 0 20px 0 10px;
}
tr td:first-child{
	padding:0 20px;
}

form{
	width: 50%;
}
legend{
	background-color: white;
	font-style: italic;
	margin-bottom: 20px;
}
.super{
	position:relative;
	padding: 5px 0;
}
input[type="text"]{
	left:0;
	position: absolute;
	margin-left: 150px;
}
.select-option{
	margin: 20px 0;
	position: relative;
}
.select-option select{
	position: absolute;
	left:0;
	margin-left: 150px;
}
.apacia{
	position: relative;
}
.asd{
	position: absolute;
	left:0;
	margin-left: 150px;
}
.asd input, .zxc input{
	margin-right: 5px;
}
.zxc{
	position: absolute;
	left:0;
	margin-left: 200px;
}
form{
	margin-left: 10px;
	margin-bottom: 20px;
}
button{
	margin-left: 550px;
	background-color: green;
	color:white;
	border-radius: 10px;
}













